@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <script src="~/Scripts/hello.js"></script>
</div>

<div id="result"></div>
<button onmouseover="updateDiv()">Update</button>
<script src="~/Scripts/hello.js">
    //function updateDiv(){
    //    var a = 5;
    //    var b = 7;
    //    alert(a);
    //    alert(b);
    //    alert(a + b);
    //}
</script>

<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ4O1TgrV5mK6GKpL01-xDYF-Sq6UYRfxRgU3LYB518FIxvZLyzLg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Network TV Project<i class="material-icons right">more_vert</i></span>
                @*<p><a href="#">This is a link</a></p>*@
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Network TV Project<i class="material-icons right">close</i></span>
                <p>CSS</p>
                <p>HTML</p>
                <p>and lots of other stuff</p>
                <p><a href="~/First/#">This is a link, go to first page</a></p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Date Night Project<i class="material-icons right">more_vert</i></span>
                @*<p><a href="#">This is a link</a></p>*@
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Date Night Project<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                <p><a href="~/First/#">This is a link, go to first page</a></p>
            </div>
        </div>
    </div>
</div>

<div class="teal">
    <h2>This is a divider section. Today is <span id="thisIsToday"></span>. Tomorrow is <span id="thisIsTomorrow"></span>.</h2>
    <script src="~/Scripts/AddDate.js"></script>
</div>

<img id="full-screen" class="responsive-img" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg">

<div class="jumbotron">
    <h1>Jumbotron #2</h1>
    <p class="lead">The second jumbotron</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

</div>


        @*<div class="row">
                <div class="col-md-4">
                    <h2>Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>*@
